/* body loading animation */
html { -webkit-font-smoothing: antialiased; }
@keyframes bodyLoading {
        0%   {transform:scale(1.5,1.5);opacity:0;}
        100% {transform:scale(1,1);opacity:1;}
}
@-webkit-keyframes bodyLoading {
        0%   {-webkit-transform:scale3d(1.5,1.5,1.5);opacity:0;}
        100% {-webkit-transform:scale3d(1,1,1);opacity:1;}
}
@-moz-keyframes bodyLoading {
        0%   {-moz-transform:scale3d(1.5,1.5,1.5);opacity:0;}
        100% {-moz-transform:scale3d(1,1,1);opacity:1;}
}
@-ms-keyframes bodyLoading {
        0%   {-ms-transform:scale(1.5,1.5);opacity:0;}
        100% {-ms-transform:scale(1,1);opacity:1;}
}
body {-webkit-animation:bodyLoading 0.4s ease-in-out  forwards;-moz-animation:bodyLoading 0.4s ease-out 0s 1 alternate forwards;}

.header {height:40px;}

/* HEADER */
#logo {position:absolute;left:4px;top:4px;background:url("http://www.jquery-css.com/i/logo.gif") no-repeat scroll left center transparent;width:31px;height:31px;display:block}
#headerContent {padding:10px 5px 5px 50px;text-align:left;}

/* MAIN NAVIGATION BAR */
#mainNav ul {background:#F4F4F4;border-style:solid;border-width:1px 0;border-color:white white #CCC white;padding:8px 0}

/* PAGE CONTENT */
.article {padding:10px;text-align:left;background:white;box-shadow:-10px 0 10px #CCC}

